<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectpkk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".User.NavigationView.GaleriFoto.GaleriFotoSmk.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home1Categories.Categories1Guru.TeacherActivity"></activity>
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home1Categories.Categories1Guru.AddTeacherActivity" />
        <activity android:name=".User.NavigationView.GaleriFoto.GaleriFotoSmk.GaleriFotoAddActivity" />
        <activity android:name=".User.NavigationView.GaleriFoto.FotoActivity" />
        <activity android:name=".User.LoginSiswaActivity" />
        <activity android:name=".User.BottomNavigationView.Menu3Jadwal.JadwalEditActivity" />
        <activity android:name=".NotifikasiActivity" />
        <activity android:name=".User.NavigationView.ListViewDetailActivity" />
        <activity android:name=".User.ListViewActivity" />
        <activity android:name=".User.NavigationView.TentangActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Admin.AddNewPengumumanActivity" />
        <activity android:name=".User.BottomNavigationView.Menu2Pengumuman.PengumumanDetailActivity" />
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home2Jurusan.JurusanActivity" />
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home4Berita.BeritaActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home1Categories.Categories1Guru.JadwalMengajarGuruActivity" />
        <activity android:name=".Common.SearchActivity" />
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home1Categories.Categories4Denah.DenahActivity" />
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home1Categories.Categories3Event.EventActivity" />
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home1Categories.Categories2Ekskul.EkskulActivity" />
        <activity android:name=".User.BottomNavigationView.Menu1Home.Home1Categories.Categories1Guru.GuruActivity" />
        <activity android:name=".Common.LoginSignUp.ForgetPasswordSuccessMessageActivity" />
        <activity android:name=".Common.LoginSignUp.SetNewPasswordActivity" />
        <activity android:name=".Common.LoginSignUp.ForgetPasswordActivity" />
        <activity android:name=".Common.LoginSignUp.VerifyOTPActivity" />
        <activity android:name=".Common.LoginSignUp.SignUpThirdClassActivity" />
        <activity android:name=".Common.LoginSignUp.SignUpSecondClassActivity" />
        <activity android:name=".Common.LoginSignUp.SignUpActivity" />
        <activity android:name=".Common.LoginSignUp.LoginActivity" />
        <activity android:name=".Common.LoginSignUp.RetailerStartUpScreenActivity" />
        <activity android:name=".Common.OnBoarding.OnBoardingActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".Common.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".FirebaseCloudMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>